<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Perfil - RedeSocial</title>
  <link rel="stylesheet" href="/templates/static/css/criar_perfil.css"></li>
</head>

<body>
  <main>
    <div class="window">

    <div class="barra-janela">
      <span class="title-titlebar">Criar Perfil </span>
      <button class="btn-tools">_</button>
      <button class="btn-tools">□</button>
      <button class="btn-tools btn-close">X</button>
    </div>

    <div class="criar-novo-perfil-container">
        <h1>Criar Novo Perfil</h1>
      <form action="#" method="post">
        <section>
          <label for="nome">Nome completo:</label>
          <input type="text" id="nome" name="nome" required placeholder="Fulaninho Cicrano">
        </section>
        <section>
          <label for="usuario">Nome de usuário (@):</label>
          <input type="text" id="usuario" name="usuario" required placeholder="@fulano">
        </section>
        <section>
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" required placeholder="fulano@email.com">
        </section>
        <section>
          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" required placeholder="Mínimo 6 caracteres">
        </section>
        <section>
          <label for="foto-perfil">Foto de perfil:</label>
          <input type="file" id="foto-perfil" name="foto_perfil" accept="image/*">
        </section>
        <section>
          <label for="bio">Bio curta:</label>
          <textarea id="bio" name="bio" rows="3" placeholder="Estudante de CC na Unima Afya..."></textarea>
        </section>
        <section>
          <button class = "CriarPerfil" type="submit">Criar Perfil</button>
        </section>

        <section>
          <p>Já tem conta? <a href="/templates/static/html/login.html">Faça login</a></p>
        </section>
        
      </form>
    </div>
    
    </div>
      
  </main>
  <script type="module" src="/src/controller/auth-register.js" defer></script>
    <script>
const windowEl = document.querySelector(".window");
const titleBar = document.querySelector(".barra-janela");

let offsetX = 0;
let offsetY = 0;
let isDragging = false;

titleBar.addEventListener("mousedown", (e) => {
    isDragging = true;

    offsetX = e.clientX - windowEl.offsetLeft;
    offsetY = e.clientY - windowEl.offsetTop;

    titleBar.style.cursor = "grabbing";
});

document.addEventListener("mousemove", (e) => {
    if (!isDragging) return;

    windowEl.style.left = (e.clientX - offsetX) + "px";
    windowEl.style.top = (e.clientY - offsetY) + "px";
});

document.addEventListener("mouseup", () => {
    isDragging = false;
    titleBar.style.cursor = "grab";
});
</script>
</body>

</html>

