<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - RedeSocial</title>
  <link rel="stylesheet" href="/templates/static/css/login.css"></li>
</head>


<body>
  <main>
    <div class="login-container">
      <h1 class="login-container-title">Entrar na RedeSocial</h1>
      <div class="login-container-forms">
            <form action="/login" method="post">
          <section>
            <label for="email">E-mail ou usuário:</label>
            <input type="email" id="email" name="email" required placeholder="exemplo@gmail.com">
          </section>
          <section>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">
          </section>
          <section>
            <button type="submit">Entrar</button>
          </section>
          <section>
            <p>Não tem conta? <a href="/templates/static/html/criar_perfil.html">Crie uma agora</a></p>
          </section>
        </form>
      </div>
   
    </div>
    
  </main>
</body>

</html>
